/*---------------FONTS---------------*/

@font-face {
    font-family: bigNoodle;
    src: url("Fonts/bigNoodle.ttf");
}

@font-face {
    font-family: bankSans;
    src: url("Fonts/bankSans.otf");
}

@font-face {
    font-family: futura;
    src: url("Fonts/Futura.otf");
}

/*--------------GENERAL--------------*/

body{
    background-color: #7b7777;
    font-family: futura;
    color: #ffffff;
}

/* a{
    font-family: futura;
    text-align: center;
}*/

/*-------------NAVIGATION-------------*/

.navigation{
    background-color: #434343;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center; /*vertically aligns items in the center*/
    justify-content: space-between; /*Sets equal space between all elements inside*/
}

.navLeft{
    display: flex;
    flex-basis: 33%; /*sets the div width to third of the parents width*/
    align-items: center; /*vertically aligns items in the center*/
    justify-content: left; /*horizontally aligns items to the left*/
}

    /*Contents of the left hand navigation flexbox*/

    .navIcon {
    height: 60px;
    padding: 0 10px;
    }

    .iconName {
    font-size: 20px;
    }

.navCenter {
        display: flex;
        flex-basis: 33%; /*sets the div width to third of the parents width*/
        align-items: center; /*vertically aligns items in the center*/
        justify-content: center; /*horizontally aligns items to the center*/
}

    /*Contents of the center navigation flexbox*/

    .pageTitle {
        font-size: 30px;
        text-align: center;
    }

.navRight {
    display: flex;
    flex-basis: 33%; /*sets the div width to third of the parents width*/
    align-items: center; /*vertically aligns items in the center*/
    justify-content: right; /*horizontally aligns items to the right*/
}

    /*Contents of the right hand navigation flexbox*/

    .linkContainer {
    text-align: center;
    box-sizing: border-box;
    }

    .navLink {
    font-size: 20px;
    text-decoration: none;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #434343;
    color: #ffffff;
    }

    .currentNavLink {
    background-color: #ffffff;
    color: #434343;
    }

/*--------------HOME--------------*/

.homeContainer {
    margin: auto;
    text-align: center;
    width: 100%;
}

/*-------------TRACK-------------*/

.trackContainer {
    margin: auto;
    text-align: center;
    width: 100%;
}

.dropdown, .dropdownOption {
    font-family: futura;
    font-size: 20px;
    text-align: center;
}

/*--------------VIEW--------------*/

.viewContainer {
    margin: auto;
    text-align: center;
    width: 100%;
}





